# Developer dependencies
.bin

# IDE resources
.vscode
.idea
.devcontainer/

# Helm resources
# TODO until I don't build helm I'm adding git repo to rancher
#charts/**/Chart.lock
#charts/**/charts

# Other rsources
.env
.envrc
Gemfile.lock
angel.yaml
